header, section, nav, article, figure{
	display: block;
}

body {
		color: #666666;
		background-position: center;
		font-family: Gill Sans, sans-serif;
		font-size: 16px;
		line-height: 1.4em;
}

.wrapper {
	width: 1300px;
	margin: 0 auto 100px auto;
	background-color: #ffffff;
}

.logo img {
		width: 300px;
}

section.search {
	float: right;
	margin-left: -10px;
}
section.search p {
	text-align: right;
}

button {
	background-color: #d3f7ff;
	font-family: Gill Sans, sans-serif;
	color: #1b5764;
	border-color: #3e8d9e;
	border-radius: 5px;
}

nav.topnav {
	clear: both;
	width: 1300px;
	margin:0px auto;
  overflow: hidden;
  background-color: #a9cfd7;
}
nav.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 20px 30px 20px;
  text-decoration: none;
  font-size: 20px;
	color: #2b606c;
}
nav.topnav a:hover {
  background-color: #c9f5ff;
  color: #1b5764;
}
nav.topnav a.active {
  background-color: #3e8e9f;
  color: white;
}

h1 {
	margin: 30px 0 20px;
	text-indent: 90px;
	color: #1b5764;
}
h2 {
	color: #3e8e9f;
}
h3 {
	color: #459db1;
}
p {
	text-indent: 30px;
}

section.intro {
	padding-bottom: 30px;
	border-bottom: 5px solid #1b5764;
}
section.intro p{
	clear: both;
	width: 90%;
	margin:0px auto;
	padding-bottom: 20px;
}

section.program {
	width: 1200px;
	margin:10px auto 10px auto;
	border: 2px solid #459db1;
}

article{
	clear: both;
	overflow: auto;
	width: 100%;
}

ul {
	float: left;
	text-indent: 10px;
	margin:10px auto 10px auto;
}

figure {
	float: left;
	width: 300px;
	padding: 5px;
	margin: 10px 20px 10px;
	border: 1px solid #eeeeee;}
figure img {
	width: 300px;
	height: 200px;
}

.showMore{
	float: right;
	margin-right: 10px;
}
.visit{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.hidden {
  display: none;
}

.pagination {
	clear: both;
	text-align: center;
}

section.contact {
	clear: both;
	padding-top: 10px;
	margin-top: 50px;
	border-top: 5px solid #1b5764;
}

section.contact h1{
	text-indent: -10px;
}

.contact a{
	margin: 10px 20px 10px;
	font-size: 18px;
	text-decoration: none;
}
a:visited {
	color: #459db1;
}
a:link {
	color: #459db1;
}
